VITE_API_URL=http://localhost:4000
VITE_GOOGLE_CLIENT_ID=149206786825-ucpsjvvd0f7it2dmkscr885pmghnoeot.apps.googleusercontent.com
VITE_MAX_DOCUMENT_SIZE_BYTES=20971520
VITE_MAX_IMAGE_WIDTH=12000
VITE_MAX_IMAGE_HEIGHT=12000
VITE_MAX_IMAGE_PIXELS=60000000
VITE_MAX_PDF_PAGES=500
